/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7; }

.main {
  display: flex; }

.content {
  position: relative;
  width: 100%; }

.hide {
  visibility: hidden;
  display: none !important; }

.sticky {
  position: fixed !important;
  top: 0;
  width: inherit; }

.btn {
  background-color: #014FBD;
  color: #faf9f9;
  border-radius: 3rem;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s;
  text-align: center; }

.btn:hover {
  box-shadow: 0 0.6rem 1.1rem #777;
  transform: translateY(-0.3rem); }

.btn:active {
  box-shadow: 0 0.4rem 0.8rem #777;
  transform: translateY(-0.1rem); }

.btn-medium {
  font-size: 1.6rem;
  font-weight: 100;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  min-width: 12rem; }

.btn-circle-medium {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 50%;
  background-color: #faf9f9;
  border: 1px solid #f0eeee;
  cursor: pointer;
  transform: scale(0.9);
  transition: all .2s; }

.btn-circle-medium:hover {
  box-shadow: 0 0.8rem 1.5rem #333;
  transform: scale(1); }

.btn-circle-medium:active {
  box-shadow: 0 0.6rem 1rem #333;
  transform: scale(0.95); }

.search {
  flex: 0 0 40%;
  font-size: 1.4rem;
  display: flex;
  align-content: center;
  justify-content: center; }
  .search__button {
    height: 2.4rem;
    width: 2rem;
    border: none;
    cursor: pointer; }
  .search__icon {
    height: 2.4rem;
    width: 2rem;
    fill: #007BFF;
    margin: auto; }
  .search__input {
    display: inline-block;
    width: 90%;
    color: #999;
    border: none;
    padding: .7rem 2rem;
    background: #f4f2f2;
    font-size: inherit;
    border-radius: 100px;
    margin-right: -3.25rem;
    transition: all .2s; }
  .search__input:focus {
    outline: none;
    width: 100%; }

.sidebar {
  display: flex;
  flex: 0 0 18%;
  background-color: #333;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 7rem); }

.side-nav {
  margin-top: 3.5rem; }
  .side-nav__item {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    z-index: 10; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #ccc;
    padding: 1.5rem 3rem;
    display: inline-block; }
  .side-nav__item::before {
    content: "";
    background-color: #007BFF;
    height: 100%;
    width: 3px;
    left: 0;
    z-index: -1;
    position: absolute;
    transform: scaleY(0);
    transition: transform .2s ease-out, width .2s ease-out .2s; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item-active::before {
    transform: scaleY(1);
    width: 100%; }

.legal {
  font-size: 1.3rem;
  color: #ccc;
  padding: 2.5rem; }

.popup {
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  background-color: rgba(204, 204, 204, 0.95);
  top: 0;
  left: 0;
  z-index: 9999; }

.editor {
  min-height: 90vh;
  width: 110rem;
  background-color: #f0eeee;
  margin: 3rem auto;
  box-shadow: 0 1.5rem 3rem #999;
  border-radius: 1rem;
  font-size: 2rem;
  overflow: hidden;
  border-radius: .7rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sticky + .page {
  margin-top: 5rem; }

.toolbar {
  border-bottom: 1px solid #f0eeee;
  position: relative;
  transition: all .5s ease-in-out; }
  .toolbar__primary {
    height: 5rem;
    background-color: #fff;
    display: flex;
    position: relative;
    z-index: 5; }
  .toolbar__secondary {
    height: 5rem;
    width: 100%;
    background-color: #fff;
    position: relative;
    margin-top: -5rem;
    transition: all .5s;
    z-index: 3; }
  .toolbar__tertiary {
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    top: -5rem;
    transition: all .5s; }
    .toolbar__tertiary-1 {
      background-color: #f0eeee; }
    .toolbar__tertiary-2 {
      background-color: #f0eeee; }
    .toolbar__tertiary .toolbar__item:hover {
      background-color: #ccc; }
  .toolbar__subgroup {
    margin: .4rem 2rem;
    display: flex; }
    .toolbar__subgroup:last-child {
      margin-left: auto; }
  .toolbar__item {
    height: 4rem;
    width: 3.8rem;
    margin: .2rem;
    border: none;
    background-color: inherit;
    cursor: pointer;
    border-radius: 3px;
    transition: all .5s;
    background-position: center;
    background-repeat: no-repeat; }
    .toolbar__item:hover {
      background-color: #f0eeee; }
    .toolbar__item:focus {
      border: none;
      outline: none; }
  .toolbar__item + .disable {
    cursor: default; }
    .toolbar__item + .disable:hover {
      background-color: inherit; }
  .toolbar__item-active {
    background-color: #f0eeee; }

#item-bold {
  background-image: url(../img/editor/bold.svg); }

#item-italic {
  background-image: url(../img/editor/italic.svg); }

#item-more {
  background-image: url(../img/editor/more.svg); }

#item-paragraphRight {
  background-image: url(../img/editor/paragraphRight.svg); }

#item-paragraphCenter {
  background-image: url(../img/editor/paragraphCenter.svg); }

#item-insertLink {
  background-image: url(../img/editor/insertLink.svg); }

#item-removeLink {
  background-image: url(../img/editor/removeLink.svg); }

#item-insertImage {
  background-image: url(../img/editor/insertImage.svg); }

#item-undo {
  background-image: url(../img/editor/undo.svg); }

#item-redo {
  background-image: url(../img/editor/redo.svg); }

#item-underline {
  background-image: url(../img/editor/underline.svg); }

#item-strikethrough {
  background-image: url(../img/editor/strikethrough.svg); }

#item-subscript {
  background-image: url(../img/editor/subscript.svg); }

#item-superscript {
  background-image: url(../img/editor/superscript.svg); }

#item-textColor {
  background-image: url(../img/editor/textColor.svg); }

#item-paragraphLeft {
  background-image: url(../img/editor/paragraphLeft.svg); }

#item-paragraphJustify {
  background-image: url(../img/editor/paragraphJustify.svg); }

#item-orderedList {
  background-image: url(../img/editor/orderedList.svg); }

#item-unorderedList {
  background-image: url(../img/editor/unorderedList.svg); }

#item-indent {
  background-image: url(../img/editor/indent.svg); }

#item-outdent {
  background-image: url(../img/editor/outdent.svg); }

.page {
  background-color: #fff;
  flex-grow: 1;
  padding: 1.5rem 3rem;
  min-height: 50vh; }
  .page:focus {
    outline: none;
    border: none; }

.image-element {
  height: 1.6rem;
  width: 3rem;
  padding: 4px 0;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-image: url(../img/editor/insertImage.svg);
  background-position: center;
  background-size: cover; }

.second-toolbar {
  background-color: #fff;
  padding: 2.5rem;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #f0eeee; }
  .second-toolbar .btn:not(:last-of-type) {
    margin-right: 2rem; }

.character-count {
  display: inline-block;
  margin-right: auto;
  color: #777; }

.toolbar-active {
  margin-top: 0;
  top: 0;
  visibility: visible; }

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  border-bottom: 1px solid #f0eeee; }

.logo {
  height: 3.5rem;
  margin-left: 2rem; }

.user-nav {
  height: 100%;
  display: flex;
  justify-content: center; }
  .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    margin: auto; }
  .user-nav__icon-box {
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer; }
  .user-nav__icon-box:hover {
    background-color: #f0eeee; }
  .user-nav__notification {
    position: absolute;
    height: 1.75rem;
    width: 1.75rem;
    font-size: 1rem;
    display: flex;
    background-color: #007BFF;
    top: 1rem;
    right: 1.1rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #faf9f9; }
  .user-nav__user {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 2rem; }
    .user-nav__user-photo {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      margin-right: .7rem; }
    .user-nav__user-name {
      font-size: 1.6rem;
      font-weight: 600; }
  .user-nav__user:hover {
    background-color: #f0eeee; }

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #f0eeee; }
  .overview__heading {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.3;
    margin-right: auto; }
  .overview__sub-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #333; }
  .overview__icon-box {
    margin-left: 2rem; }

.favourite-icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #777; }

.active-icon {
  fill: #007BFF; }

.diary-page {
  width: 110rem;
  background-color: #fff;
  margin: 3rem auto;
  box-shadow: 0 1.5rem 3rem #999;
  border-radius: 1rem;
  padding: 1.5rem 3rem; }

.prev-page-icon {
  width: 5.5rem;
  height: 5.5rem;
  position: fixed;
  top: calc((100vh + 7rem)/2);
  left: calc(18% + 1rem);
  transform: translateY(-50%); }
  .prev-page-icon .btn-circle-medium {
    background-image: url(../img/arrow-left.svg);
    background-size: 3rem 3rem;
    background-position: center;
    background-repeat: no-repeat; }

.next-page-icon {
  width: 5.5rem;
  height: 5.5rem;
  position: fixed;
  top: calc((100vh + 7rem)/2);
  right: 1rem;
  transform: translateY(-50%); }
  .next-page-icon .btn-circle-medium {
    background-image: url(../img/arrow-right.svg);
    background-size: 3rem 3rem;
    background-position: center;
    background-repeat: no-repeat; }

.editing-option-container {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex; }

.edit-page-icon {
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 1rem; }
  .edit-page-icon .btn-circle-medium {
    background-image: url(../img/pencil.svg);
    background-size: 3rem 3rem;
    background-position: center;
    background-repeat: no-repeat; }

.new-page-icon {
  width: 5.5rem;
  height: 5.5rem; }
  .new-page-icon .btn-circle-medium {
    background-image: url(../img/plus.svg);
    background-size: 3rem 3rem;
    background-position: center;
    background-repeat: no-repeat; }

.diary-card {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 3rem;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.card__item {
  height: 28rem;
  width: 24rem;
  margin: 5rem 3rem;
  border-radius: 3px;
  transition: all .2s;
  position: relative;
  perspective: 150rem; }

.card-side {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0 0.2rem 0.5rem #333;
  transition: all .8s;
  backface-visibility: hidden; }

.card-side--back {
  transform: rotateY(180deg);
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .card-side--back ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: auto; }
    .card-side--back ul li {
      padding: 1rem .5rem;
      border-bottom: 1px solid #f0eeee; }

.card__item:hover .card-side--front {
  transform: rotateY(-180deg); }

.card__item:hover .card-side--back {
  transform: rotateY(0); }

.card__cover-photo {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/diarycover-2.jpg);
  background-size: cover;
  background-blend-mode: screen; }

.card__heading {
  position: absolute;
  display: block;
  bottom: 2rem;
  right: 2rem;
  text-align: right;
  width: 75%; }
  .card__heading__span {
    background: rgba(0, 123, 255, 0.7);
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: #faf9f9;
    font-size: 2rem;
    font-weight: 100;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
