/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1.6rem; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  background-color: #007bff; }
