/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D
*/

$color-primary-light : #17BEFF;
$color-primary : #007BFF;
$color-primary-dark : #014FBD;
$color-grey-light-1 : #faf9f9;
$color-grey-light-2 : #f4f2f2;
$color-grey-light-3 : #f0eeee;
$color-grey-light-4 : #ccc;
$color-grey-dark-1 : #333;
$color-grey-dark-2 : #777;
$color-grey-dark-3 : #999;
$color-black : #000;
$color-white : #fff;

$default-font-size : 1.6rem;
$header-height : 7rem;
$sidebar-width : 18%;
$page-width : 110rem;


$thin-border-black : 1px solid $color-grey-light-3;
