.popup {
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    background-color: rgba($color-grey-light-4, 0.95);
    top: 0;
    left: 0;    
    z-index: 9999;
}

.editor {
    min-height: 90vh;
    width: $page-width;
    background-color: $color-grey-light-3;
    margin: 3rem auto;
    box-shadow: 0 1.5rem 3rem $color-grey-dark-3;
    border-radius: 1rem;
    font-size: 2rem;
    overflow: hidden;
    border-radius: .7rem;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// to stop sudden flow of page on fixing the toolbar
.sticky + .page {
    margin-top: 9.5rem; // may change ahead
}

.toolbar {
    background-color: $color-white;
    height: 10rem;
    border-bottom: 1px solid $color-grey-light-3;
    padding: 1rem 2.5rem;
}

.page {
    background-color: $color-white;
    flex-grow: 1;
    padding: 1.5rem 3rem;
    min-height: 50vh;

    &:focus {
        outline: none;
        border: none;
    }
}

.second-toolbar {
    background-color: $color-white;
    padding: 2.5rem;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $color-grey-light-3;

    .btn:not(:last-of-type) {
        margin-right: 2rem;
    }
}

.character-count {
    display: inline-block;
    margin-right: auto;
    color: $color-grey-dark-2;
}